@use '../helpers' as *;
@use 'sass:color';

.templ--page-main {
	margin: $margin--general 0;
}

@media (min-width: $media-tablet) {
	.templ--page-main {
		margin: $margin--general*2 0;
	}
}

// For Knowle Nursery Only
.team-member {
	margin-bottom: $margin--general;
}

.ratio {
	margin-bottom: $margin--general;
}
